<section id="page-header" class="about-header">
    <h2>#knowus</h2>
    <p>Read all about about news product</p>
</section>

<section id="about-head" class="section-p1 row">
    <img src="assets/images/about/a6.jpg" class="col-lg-6 w-100" alt="">
    <div class="col-lg-6">
        <h2>Who we are?</h2>
        <p>CARA is a new fashion brand targeting young people who are passionate about modern, comfortable styles. We provide new designs, in line with modern fashion trends, keeping up with the top trends. Besides, CARA provides shopping service and ensures customer experience so that you always have peace of mind and choosing us is the top priority for your need to affirm your fashion style!</p>
        <br>
        <br>
        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Affirm your fresh and modern style through rich and guaranteed collections from young fashion brand CARA FASHION</marquee>
    </div>
</section>

<section id="about-app" class="section-p1">
    <h1>Download now <a href="#">CARAMYLIFE</a></h1>
    <div class="video">
        <video autoplay muted loop src="./assets/images/about/1.mp4"></video>
    </div>
</section>

<app-benefits></app-benefits>
