<section id="page-header" class="about-header">
    <h2>#let's_talk</h2>
    <p>LEAVE A MESSAGE, we will contact you soon</p>
</section>

<section id="contact-details" class="section-p1 row">
    <div class="details col-lg-6">
        <span>CONTACT NOW!</span>
        <h2>Go to some retails of CARAFASHION right now</h2>
        <h3>CARAFASHION Headquarter</h3>
        <div>
            <li>
                <i class="fa-regular fa-map"></i>
                <p>18 Dinh Cong - Ha Noi- Viet Nam</p>
            </li>
            <li>
                <i class="fa-regular fa-envelope"></i>
                <p>dovietdong2904@gmail.com</p>
            </li>
            <li>
                <i class="fa-solid fa-phone"></i>
                <p>0964496713</p>
            </li>
            <li>
                <i class="fa-regular fa-clock"></i>
                <p>10:00 to 18:00 Monday To Friday</p>
            </li>
        </div>
    </div>

    <div class="map col-lg-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14883.607086204789!2d105.72421812678121!3d21.156307074868952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134fefffd2182db%3A0xdee38a456e4813ec!2sHai%20Ba%20Trung%20Shrine!5e0!3m2!1sen!2s!4v1669822060508!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<section id="form-details">
    <form action="https://mailthis.to/vietdong" method="post">
        <span>LEAVE A MESSAGE</span>
        <h2>We happy to hear your opinion!</h2>
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="subject" placeholder="Subject">
        <textarea name="note" id="" cols="30" rows="10" placeholder="Your note"></textarea>
        <button type="submit" class="normal">Send</button>
    </form>

    <div class="people">
        <div>
            <img src="img/people/1.png" alt="">
            <p><span>Viết Đông</span>Senior Marketing<br> Phone: 0964496713 <br> Email: dovietdong2904@gmail.com</p>
        </div>
    </div>
</section>
